---
import Logo from "@/components/global/Logo.astro";
import config from ".astro/config.generated.json";
import { markdownify } from "@/utils/text";
import SocialComponent from "@/components/social/Social.astro";
import SubscriptionForm from "@/components/widgets/SubscriptionForm.astro";
import { splitProtectedText, useTranslations, formatUrl } from "@/utils/core";
import type { NavigationLink } from "@/types";

const t = useTranslations();
const footerDescription = t("footer.description");
const copyrightText = t("footer.copyright");
const copyrightParts = splitProtectedText(copyrightText);

let { copyright, subscription } = config.settings;
---

<footer class="to-primary/20 lg:to-primary/5 bg-linear-to-b from-transparent">
  <div
    class="lg:bg-[radial-gradient(55%_55%_at_50%_130%,--theme(--color-primary/15%)_40%,transparent_120%)] xl:bg-[radial-gradient(55%_55%_at_50%_100%,--theme(--color-primary/10%)_0%,transparent_100%)]">
    <div class="container space-y-16 lg:space-y-28">
      <div class="grid pt-16 lg:grid-cols-2 xl:grid-cols-3">
        <!-- Logo, Description and Social -->
        <div class="flex flex-col gap-y-5 lg:pe-10">
          <Logo />
          {
            footerDescription && (
              <p class="opacity-90" set:html={markdownify(footerDescription)} />
            )
          }
          <SocialComponent
            layout="classic"
            linkType="follow"
            class="mt-5 gap-1"
            size="sm"
            list={(config.social?.main || []).filter(
              (social: any) => social.enable,
            )}
          />
        </div>
        <!-- Quick Links, Resources, Legal and Subscription -->
        <div
          class="col-span-2 mt-10 grid gap-y-10 md:grid-cols-3 xl:mt-0 xl:ml-5">
          <!-- Quick Links -->
          <div class="md:border-l md:px-8 lg:px-8 xl:px-14">
            {
              t("footer.quickLinks") && (
                <h3
                  class="text-h5 text-light mb-6"
                  set:html={t("footer.quickLinks")}
                />
              )
            }
            <ul class="flex flex-col gap-y-1.5">
              {
                t("footerMenuQuickLink") &&
                  t("footerMenuQuickLink").map((menu: NavigationLink) => (
                    <li class="inline-block">
                      <a
                        class="inline-block py-px text-inherit opacity-90 duration-300 hover:text-white"
                        href={formatUrl(menu.url || "")}>
                        {menu.name}
                      </a>
                    </li>
                  ))
              }
            </ul>
          </div>
          <!-- Resources, Legal and Subscription -->
          <div class="col-span-2 md:border-l md:pl-8 lg:pl-8 xl:pl-14">
            <div class="grid gap-y-10 md:grid-cols-2">
              <div>
                {
                  t("footer.resources") && (
                    <h3
                      class="text-h5 text-light mb-6"
                      set:html={t("footer.resources")}
                    />
                  )
                }
                <ul class="flex flex-col gap-2">
                  {
                    t("footerMenuResources").map((menu: NavigationLink) => (
                      <li class="inline-block">
                        <a
                          class="inline-block py-px text-inherit opacity-90 duration-300 hover:text-white"
                          href={formatUrl(menu.url || "")}
                          set:html={menu.name}
                        />
                      </li>
                    ))
                  }
                </ul>
              </div>
              <div class="md:border-l md:pl-8 lg:pl-8 xl:pl-14">
                {
                  t("footer.legal") && (
                    <h3
                      class="text-h5 text-light mb-6"
                      set:html={t("footer.legal")}
                    />
                  )
                }
                <ul class="flex flex-col gap-2">
                  {
                    t("footerMenuLegal").map((menu: NavigationLink) => (
                      <li class="inline-block">
                        <a
                          class="inline-block py-px text-inherit opacity-90 duration-300 hover:text-white"
                          href={formatUrl(menu.url || "")}
                          set:html={menu.name}
                        />
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
            {
              subscription && subscription.enable && (
                <div class="mt-8 border-t pt-5">
                  {t("subscription.label") && (
                    <p
                      class="mb-2.5"
                      set:html={markdownify(t("subscription.label"))}
                    />
                  )}
                  <SubscriptionForm {...subscription} />
                </div>
              )
            }
          </div>
        </div>
      </div>
      <!-- Footer Menu & Copyright -->
      <div class="py-7 text-sm md:text-base">
        <div class="flex flex-wrap justify-between gap-x-8 gap-y-6">
          <ul
            class="has-list has-list-dot flex flex-wrap gap-y-2 md:flex-nowrap">
            {
              t("footerMenu").map((menu: NavigationLink) => (
                <li class="inline-block">
                  <a
                    class="inline-block py-px text-inherit opacity-90 duration-300 hover:text-white"
                    href={formatUrl(menu.url || "")}
                    set:html={menu.name}
                  />
                </li>
              ))
            }
          </ul>
          {
            config.settings.copyright && config.settings.copyright.enable && (
              <ul class="has-list has-list-slash flex flex-wrap gap-y-4 text-white [&_a]:text-inherit">
                {copyrightParts.map((value: string) => (
                  <li class="[&_a]:text-secondary inline-block opacity-90 [&_a]:underline [&_a]:underline-offset-2 [&_a]:transition-colors [&_a]:duration-300 [&_a:hover]:text-white">
                    <span set:html={markdownify(value)} />
                  </li>
                ))}
              </ul>
            )
          }
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  const ctaSection = document.querySelector(".cta-section");
  const footer = document.querySelector("footer") as HTMLElement;
  if (!ctaSection) {
    footer.classList.add("has-call-to-action");
  }
</script>
