---
import { formatUrl } from "@/utils/core";
import { markdownify, toSentenceCase } from "@/utils/text";
import Image from "@/components/helpers/Image.astro";
import config from ".astro/config.generated.json";
import defaultLogo from "@/assets/images/logo.svg";
import type { ImageMetadata } from "astro";

const getNumber = (value: string) => {
  if (!value) return 29;
  const base = 16;
  const updatedValue = value.replace("px", "").replace("rem", "");
  let valueAsNumber = Number(updatedValue);
  if (isNaN(valueAsNumber)) return 29;
  if (value.includes("rem")) {
    return (valueAsNumber = Number(updatedValue) * base);
  }
  return valueAsNumber;
};

interface Props {
  src?: ImageMetadata | string | null;
  class?: string;
  loading?: "eager" | "lazy";
}

let { src, class: className, loading } = Astro.props as Props;
let {
  logo,
  logoWidth = "29px",
  logoHeight = "29px",
  logoText,
  title,
} = config.site;

const imgSource = src ? src : logo ? logo : defaultLogo;
let rawSvgContent = "";
if (typeof imgSource === "string" && imgSource.endsWith(".svg")) {
  const svgFiles = import.meta.glob("/src/assets/images/**/*.svg", {
    query: "?raw",
    import: "default",
  });
  const cleanPath = imgSource.replace(/^\/?images\//, "");
  const expectedPath = `/src/assets/images/${cleanPath}`;
  if (expectedPath in svgFiles) {
    let svgString = (await svgFiles[expectedPath]()) as string;
    const svgClass = "logo text-white";
    const svgStyle = `height: ${getNumber(logoHeight)}px; width: ${getNumber(logoWidth)}px;`;
    rawSvgContent = svgString.replace(
      /^<svg/,
      `<svg class="${svgClass}" style="${svgStyle}" aria-label="${toSentenceCase("Brand logo of " + title)}"`,
    );
  }
}
---

<a href={formatUrl("/")} class:list={["logo-wrapper", className]}>
  {
    rawSvgContent ? (
      <>
        <Fragment set:html={rawSvgContent} />
        {logoText && (
          <span class="logo-text" set:html={markdownify(logoText)} />
        )}
      </>
    ) : imgSource ? (
      <>
        <Image
          src={imgSource}
          class="logo"
          width={getNumber(logoWidth)}
          height={getNumber(logoHeight)}
          alt={toSentenceCase("Brand logo of " + title)}
          loading={loading}
          decoding="async"
          style={{
            height: getNumber(logoHeight) + "px",
            width: getNumber(logoWidth) + "px",
          }}
        />
        {logoText && (
          <span class="logo-text" set:html={markdownify(logoText)} />
        )}
      </>
    ) : logoText ? (
      logoText
    ) : (
      title
    )
  }
</a>
